@model UDBSite.Models.TipoConsulta

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>


<h3>¿Está seguro de eliminar esto?</h3>

@Html.Partial("_details")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-default" />
        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default" })
    </div>
}
